html{
    height: 100%;
    font-size: 62.5%;
}
body{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 99%;
    font-size: 1.9rem;
}
#content{
    font-size: 1.9rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    gap: 20px;
    width: 40%;
}
#content > div{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
#content button{
    align-self: center;
}
img{
    height: 100px;
    align-self: center;
}
input{
    border-radius: 10px;
    width: 50%;
}
button{
    border-radius: 10px;
    cursor: pointer;
}
label{
    font-weight: bold;
}
.gif{
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
}
.container{
    height: 90%;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px black solid;
    border-radius: 10px;
}
#location-form{
    padding: 10px;
}